<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>

<body>
    <section>
        <ul class="foldersUl">
            <% if (documents.length > 0) { %>
            <% for(var i = 0; i < documents.length; i++) { %>
                <li class="documents" draggable="true" ondragend="dragEnd()" ondragover="dragOver(event)" ondragstart="dragStart(event)">
                    <a href="my-notes?noteId=<%= documents[i]._id %>">
                        <span class="folderName"><%= documents[i].title %></span>
                    </a>
                    <span><i class="fas fa-star" name= "star"></i></span>
                    <span><i class="fas fa-trash"></i></span>
                </li> 
            <% } %>
            <% } %>
        </ul>
    </section>
    <section><a href="/new-note"><button class="btn btn-default footer">New Note</button></a></section>

    <script src="main.js"></script>
</body>

</html>