<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>
<body class="indexImage">
<div class="container filter">
    <h1 class = "h1Index">Simple Scribe</h1>
    <div class= "indexLogin">
        <a href="/login" class="btn btn-default btnIndex" alt="Click to login">Login</a>
        <a href="/signup" class="btn btn-default btnIndex" alt="Click to signup">Signup</a>
    </div>
</div>
</body>
</html>
