<!doctype html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="indexImage">
<div class="container filter">
    <h1 class = "h1Index">Simple Scribe</h1>
    <div class= "indexLogin">
        <a href="/login" class="btn btn-default btnIndex">Login</a>
        <a href="/signup" class="btn btn-default btnIndex">Signup</a>
    </div>
</div>
</body>
</html>
